.fullScreen {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  color: #f7f7f7;
  gap: 0.8rem;
  margin-top: 2rem;
}

.postContainer ul {
  width: 80%;
}

.buttonContainer{
  display: flex;
  justify-content: flex-end;
  width: 80%;
  margin-top: 2rem;
}

.buttonContainer button{
  background-color: #FFDB01;
  border: none;
  font-size: 1.1rem;
  padding: 0.9rem 1.3rem;
  border-radius: 0.7rem;
  cursor: pointer;
}
