#modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1005;
}

.modalContent {
  background-color: #242424;
  height: calc(100vh - 40px);
  width: calc(100vw - 40px);
  padding: 20px;
  border-radius: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.modalContent h2{
  padding-bottom: 2rem;
  align-self: center;
}

.modalContent p {
  padding: 2px;
  margin-bottom: 10px;
  color: gainsboro;
  font-weight: 100;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.readButton {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 1.5rem;
  cursor: pointer;
}

.addToReadingListButton {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.addToReadingListButton:hover {
  background-color: #45a049;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
  margin-top: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.buttonContainer button {
  background-color: #FFDB01;
  border-radius: 8px;
  border-style: none;
  color: #161616;
  cursor: pointer;
  height: 48px;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
}

.buttonContainer button:hover, .buttonContainer button:focus {
  background-color: #989802;
}

.contentContainer{
  overflow: auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}