.container {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 30px;
}

.feedContainer {
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.statsContainer {
    display: flex;
    flex-direction: column;
    padding-top: 88px;
    width: 50%;
}