.container {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 30px;
    column-gap: 20px;
    width: 100vw;
    height: auto;
}

.profileColumnContainer {
    width: 20%;
    height: 100%;
}

.statsContainer {
    display: flex;
    flex-direction: column;
    width: 80%;
}