.container {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 30px;
}

.feedContainer {
    display: flex;
    width: 40%;
    justify-content: space-around;
}