.statsContainer {
    background-color: #494949;
    border-radius: 8px;
    margin: 10px 0;
    padding: 15px;
    list-style: none;
    cursor: pointer;
    width: 100%;
    height: 100px;
    display: flex;
}

.statsContent {
    display: flex;
    flex-direction: row;
    align-items: center; /* Center items vertically */
    justify-content: space-around; /* Center items horizontally */
    column-gap: 20px;
    width: 100%;
}

.progressBarContainer {
    width: 40%; /* Keep this width to give the ProgressBar space */
    flex-grow: 1; /* Allow this to take up remaining space */
}